<div id="create-div">
<form action="/create-post" method="post">
    <input type="date" name="date" id="date">
    <input type="text" name="title" id="title" placeholder="title">
    <input type="text" name="photourl" id="photourl" placeholder="photo url">
    <input type="text" name="content" id="content" placeholder="type here">
    <input type="submit" value="Create Post">
</form>
</div>