<div id="signup-div">
<h1 id="signup">Sign Up</h1>

<form action="/sign-up" method="post">
<div class="input-area"><input class="signup-input" type="text" name="username" id="username" placeholder="username"></div>
<div class="input-area"><input class="signup-input" type="password" name="password" id="password" placeholder="password"></div>
<div class="input-area"><input class="signup-input" type="text" name="firstname" id="firstname" placeholder="firstname"></div>
<div class="input-area"><input class="signup-input" type="text" name="lastname" id="lastname" placeholder="lastname"></div>
<div class="input-area"><input class="signup-input" type="date" name="birthday" id="birthday" placeholder="birthday"></div>
<div class="input-area"><input class="signup-input" type="email" name="email" id="email" placeholder="email"></div>
<div id="signup-btn-div"><input id="signup-btn" type="submit" value="submit"></div>
</form>
</div>


