<div id="signed-out">
<h1 id="logo">Rumblr</h1>
<a class="sign-links" href= "<%=url('/sign-in')%>"><button class="sign-btn">Sign In</button></a>
<a class="sign-links" href= "<%=url('/sign-up')%>"><button class="sign-btn">Sign Up</button></a>
</div>
