<a href='/'> Go back to home</a>

<div id="single-div">
<div id="title-div">
<div class="single-post"><h1><%=@current_post.title%></h1></div>
<div class="single-post"><p><%=@current_post.date%></p></div>
</div>
<div id="img-post-div" class="single-post"><img id="inside-img" src = "<%=@current_post.photo_url%>"></div>
<div class="single-post"><p><%=@current_post.content%></p></div>

</div>