body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }
  body #blog-div {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%; }

#outside-div {
  padding-top: 10%;
  background-image: url("http://i65.tinypic.com/efh08i.jpg");
  background-attachment: fixed;
  min-height: 1000px;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */ }

#nav-container {
  top: 0;
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid black; }

#navbar {
  display: flex;
  /* background-color: antiquewhite; */
  /* position: fixed; */
  justify-content: space-between;
  /* top: 0; */
  width: 95%;
  height: 50;
  position: relative;
  top: 20%; }
  #navbar .nav-links {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Lobster', cursive; }
  #navbar #link-div {
    margin-top: 19px;
    display: flex;
    justify-content: space-evenly;
    width: 35%; }

#container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%; }

#logo {
  font-family: 'Lobster', cursive;
  text-decoration: none;
  color: black;
  font-size: 2em;
  margin-left: 50px; }

.home-btns {
  padding: 5px; }

#title h2 {
  margin-bottom: 0; }

#date {
  font-size: 12px; }

#display-random {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 5px 10px 18px #888888;
  border: 1px solid white;
  background-color: #09090a; }
  #display-random .display-user {
    border-left: 3px solid white;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    width: 98%;
    height: 25px;
    height: 40px; }
  #display-random .random-users {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    left: 20%;
    top: 20%; }

.display-user:hover {
  background-color: white; }

.text {
  display: none; }

.small-boxes:hover i {
  display: none; }

.small-boxes:hover span {
  display: inline; }

#flex-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem; }
  #flex-container #flex-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

.posts {
  padding: 3%; }

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: mintcream;
  width: 300px;
  height: 350px; }
  .inner-div .post-img {
    width: 300px;
    height: 300px; }

#div-random-posts {
  display: flex;
  justify-content: space-around; }

#single-div {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #single-div #title-div {
    width: 700px; }
    #single-div #title-div #post-title {
      font-size: 2em;
      margin: 0; }
    #single-div #title-div #post-par {
      margin-top: 0; }
  #single-div #post-text {
    width: 700px; }

#img-post-div {
  width: 700px;
  height: 650px; }
  #img-post-div #inside-img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=app.css.map */
